@CHARSET "UTF-8";
table {
    border-collapse: collapse; /* 테이블.. 사이에 간격 주지마라 */
    border-spacing: 0
}
.tableTag{
	width: 500px;
	height: 700px;
}
.tableTag thead tr th{
	border: 1px solid GRAY;
	height: 50px;
	background-color: #c0c0c0;
}
.tableTag tbody tr td{
	border: 1px solid GRAY;
}