@CHARSET "UTF-8";
@import url(reset.css);
header {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 20; /* 3차원을 나타내는 z를 이용해서 어떤 경우라도 헤더가 덮이는 것 방지, 헤더가 20만큼 떠있어 바디에 가려지지 않음 */
    overflow: hidden; /* 위드,하이트 값에 넘치는 이미지를 넣는 경우라도 잘리게끔 처리 */
    background-color: #fcc
}
footer {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    background-color: #CCF
}
nav ul {
    list-style:none;
    float:right;
}
 
nav ul li {
    float:left;
    margin:0 20px;
}
