@CHARSET "UTF-8";
@IMPORT url("common.css");
/* 좌측에 콘텐츠가 있는 프레임 */
article{
	width: 70%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;
	background-color: #FF6;
	float: left; /* 좌측 정렬 */
}
.leftContent{
	padding-top: 50px; /* 부모태그인 article -50px 을 상쇄시키기 위해 . */
}
/* 우측 사이드 */
aside{
	width: 30%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;
	background-color: RED;
	float: right; /* float 는 떠있다는 뜻으로, 우측 정렬시키라는 뜻 */
}
.rightSide{
	padding-top: 50px;
}