@charset "utf-8";
/* Reset */
html, body {
    width: 100%; /* 100%는 화면을 꽉 채우는 것. 웹표준 정책에 따름. */
    height: 100% /* 효과는 모니터든 스마트폰이든 상관없이 출력. */
} /* 마지막 구분자 생략해도 됨 */
 
html {
    overflow-y: scroll; /* overflow-y(yes) : 스크롤 내리면 스크롤바 생성됨. */
    font-size: 10px
}
 
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p,
    button { /* 태그 그룹화 */
    margin: 0; /* default: 프레임끼리 붙어있음, 값1: 전체 간격 지정, 값2: 위아래, 좌우 간격, 값4: 북동남서 방향. */
    padding: 0
}
 
body, h1, h2, h3, h4, input, button {
    font-family: Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif; /* 폰트 순위 */
    font-size: 12px;
    color: #383d41
}
 
body {
    background-color: #fff;
    text-align: center; /* 글자 정렬의 기본은 센터 정렬 */
    *word-break: break-all;
    -ms-word-break: break-all
}
 
img, fieldset, iframe {
    border: 0 none /* 디폴트는 간격 없이 표시 */
}
 
li {
    list-style: none
}
 
input, select, button {
    vertical-align: /* middle 세로정렬시 가운데 위치 */
}
 
img {
    vertical-align: /* top 이미지는 맨 위부터 채우기 */
}
 
i, em, address {
    font-style: normal /* em > emphasis : 폰트의 굵기 */
}
 
label, button {
    cursor: pointer /* 손가락 모양이 나타나게 함 */
}
 
button {
    margin: 0;
    padding: 0
}
 
a {
    color: #222;
    text-decoration: /* none 하이퍼텍스트 문자...인데 밑줄을 그리지 마라. */
}
 
a:hover { /* 글자에 커서 대면 변함 */
    color: #390;
    text-decoration: underline /* 호버 이벤트는 밑줄이 생겼다 안생겼다 하게 하라 */
}
 
button * {
    position: relative /* 상대위치에 두라 */
}
 
button img {
    left: -3px;
    *left: auto
}
 
html:first-child select {
    height: 20px;
    padding-right: 6px
}
 
option {
    padding-right: 6px
}
 
hr {
    display: none /* 수평선.. 넣지 않겠다 */
}
 
legend {
    *width: 0
}
 
table {
    border-collapse: collapse; /* 테이블.. 사이에 간격 주지마라 */
    border-spacing: 0
}
 
input::-ms-clear {
    display: none
}
