@CHARSET "UTF-8";
@IMPORT url("common.css");
/* 좌측 사이드 ---- leftContent.css에서 복붙*/
aside{
	width: 30%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;
	background-color: RED;
	float: left; 
}
.leftSide{
	padding-top: 50px;
}
.topMenu{
	float: left;
	width: 40%;
	height: 200%
}

/* 우측 컨텐츠 */
article{
	width: 70%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;
	background-color: #6ff7ca;
	float: right; 
}
.rightContent{
	padding-top: 50px;
}