@CHARSET "UTF-8";
@IMPORT url("common.css");
img{border: none}

#top{
	height: 150px;
	margin: 0;
	padding: 0;
}
.clear{ /* class는 .class명 , id는 #id명  */
	clear: both;
}
#logo{
	float: left;
	margin: 40px 0 0 40px;
	width: 270px;
}
#login{
	float: right;
	margin: 20px 60px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px  /* 글자 간격 */
}
#login a{
	text-decoration: none;
	color: #333;
}
#login a:hover{
	color: #F90;
}
nav#topMenu{
	width: 600px;
	margin: 50px 20px 0 0;
	float: right;
}
nav#topMenu ul{
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333;
}
nav#topMenu ul li{
	float: left;
	margin: 0 5px;
}
nav#topMenu a{
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: #333;
}
nav#topMenu a:hover{}

footer hr{
	width: 100%;
	margin: 0 0 0 15px;
}
